:root{
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --letter-space: 0.02em;
    --primary-color: #2E2F42;
    --secondary-color: #434455;
    --primary-bg-color: #434455;
    --secondary-bg-color: #F4F4FD;
    --accent-color: #404BBF;
    --btn-bg-color: #4D5AE5;
    --white-color: #FFFFFF;
    --footer-text-color: #E7E9FC;
    --valid-fields: #31D0AA;
    --section4-icons-color: #8E8F99;
}

body{
    font-family: var(--primary-font);
    color: var(--primary-color);
    letter-spacing: var(--letter-space);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.list{
    list-style: none;
}

.link{
    text-decoration: none;
    color: var(--primary-color);
}

h1, h2, h3, h4, p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;

    margin-left: auto;
    margin-right: auto;
}

/* ----------------COMPONENTS-------------------- */
.icon-link {
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.icon-link-web{
    color: var(--btn-bg-color);
}

.secondary-header {
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}

.section-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 8px;
}

.main-text {
    font-size: 16px;
    line-height: 1.5;
    color: var(--secondary-color);
}

.sections-list {
    display: flex;
    column-gap: 24px;
    row-gap: 48px;
    flex-wrap: wrap;
}

.sections-padding {
    padding-top: 120px;
    padding-bottom: 120px;
}
/* ----------------/COMPONENTS-------------------- */


/* -----------------HEADER-------------------- */
.header {
    border-bottom: 1px solid var(--footer-text-color);
}

.icon-header {
    margin-right: 76px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.header-paddings {
    padding-top: 24px;
    padding-bottom: 24px;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}

.header-item:not(:last-child) {
    margin-right: 40px;
}

.menu-link:hover,
.menu-link:focus,
.contact-link:hover,
.contact-link:focus{
    color: var(--accent-color);
}

.menu-link:hover:after,
.menu-link:focus:after {
    content: '';
    width: 100%;
    height: 4px;
    display: block;
    border-radius: 4px;
    background-color: var(--accent-color);

}

.header-address {
    font-style: normal;
    margin-left: auto;
}

.contact-link{
    font-weight: 400;
    color: var(--secondary-color);
}
/* -----------------/HEADER-------------------- */


/* -----------------PORTFOLIO HEADER CHANGES-------------------- */
.menu-link-selected{
    color: var(--accent-color);
}


/* -----------------INDEX HERO SECTION-------------------- */
.hero-section {
    background-color: var(--primary-bg-color);
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../image/hero/people-office.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-header {
    width: 494px;
    font-size: 56px;
    line-height: 1.07;
    color: var(--white-color);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
    text-align: center;
}

.hero-btn {
    display: block;
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    margin-left: auto;
    margin-right: auto;
    color: var(--white-color);
    border-color: transparent;
    background: var(--btn-bg-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.hero-btn:hover,
.hero-btn:focus{
    background: var(--accent-color);
    cursor: pointer;
}
/* -----------------/INDEX HERO SECTION-------------------- */


/* -----------------INDEX SECTION 1-------------------- */
.section1-item {
    flex-basis: calc((100% - 72px) / 4);
}

.section1-icon-div {
    width: 264px;
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-bg-color);
    margin-bottom: 8px;
}
/* -----------------/INDEX SECTION 1-------------------- */


/* -----------------INDEX SECTION 2-------------------- */
.section2 {
    padding-top: 0px;
}

.section2-item {
    flex-basis: calc((100% - 48px) / 3);
}
/* -----------------/INDEX SECTION 2-------------------- */


/* -----------------INDEX SECTION 3-------------------- */
.section3 {
    background: var(--secondary-bg-color);
}

.section3-item {
    width: calc((100% - 72px) / 4);
    background: var(--white-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.text-about-team {
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
}

.section3-text-margin {
    margin-bottom: 8px;
}

.socials-links-list {
    align-items: center;
    justify-content: center;
}

.socials-links{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;

    background-color: var(--btn-bg-color);
    border-radius: 50%;
}

.socials-links:hover,
.socials-links:focus {
    background-color: var(--accent-color);
    cursor: pointer;
}
/* -----------------/INDEX SECTION 3-------------------- */

/* -----------------INDEX SECTION 4-------------------- */
.section4 {
    padding-top: 130px;
    padding-bottom: 130px;
}

.section4-item {
    flex-basis: calc((100% - 120px) / 6);
}

.section4-icons-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 31px;
    padding-right: 31px;
    border: 1px solid var(--section4-icons-color);
    border-radius: 4px;
}

.section4-icons {
    fill: var(--section4-icons-color);
}

.section4-icons-link:hover,
.section4-icons-link:focus {
    border-color: var(--accent-color);
}

.section4-icons-link:hover
.section4-icons {
    fill: var(--accent-color);
}

.section4-icons-link:focus 
.section4-icons {
    fill: var(--accent-color);
}

.footer-header {
    font-size: 16px;
    margin-bottom: 16px;
}
/* -----------------/INDEX SECTION 4-------------------- */

/* -----------------PORTFOLIO MAIN SECTION-------------------- */
.section {
    padding-top: 96px;
    padding-bottom: 120px;
}

.btn-list {
    margin-bottom: 72px;
}

.btn-item:first-child {
    margin-left: auto;
}

.btn-item:last-child {
    margin-right: auto;
}

.btn-button {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--btn-bg-color);
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;

    background: var(--secondary-bg-color);
    border: 1px solid var(--footer-text-color);
    border-radius: 4px;
}

.btn-button:hover,
.btn-button:focus {
    color: var(--white-color);
    background: var(--accent-color);
    cursor: pointer;
    box-shadow: 
    0px 3px 1px rgba(0, 0, 0, 0.1), 
    0px 2px 1px rgba(0, 0, 0, 0.08), 
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.cards-item {
    flex-basis: calc((100% - 48px) / 3);
}

.cards-link {
    display: block;
}

.cards-link:hover,
.cards-link:focus {
    box-shadow: 
    0px 1px 6px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 2px 1px rgba(46, 47, 66, 0.08);
    cursor: pointer;
}

.text-under-img {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    border: 1px solid var(--footer-text-color);
    border-top-color: transparent;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}
/* -----------------/PORTFOLIO MAIN SECTION-------------------- */


/* -----------------FOOTER-------------------- */
.footer {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: var(--primary-bg-color);
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.icon-link-footer {
    color: var(--secondary-bg-color);
    line-height: 1.17;
}

.footer-text {
    margin-top: 16px;
    color: var(--footer-text-color);
    width: 264px;
}

.footer-left-side {
    margin-right: 120px;
}


.footer-header {
    color: var(--white-color);
}

.socials-links-footer {
    background-color: rgba(255, 255, 255, 0.1);
}

.socials-links-footer:hover,
.socials-links-footer:focus {
    background-color: var(--valid-fields);
}
/* -----------------/FOOTER-------------------- */





